body {
  font-family: 'Roboto', sans-serif;
  padding: 2%;
}

.title {
  text-align: center;
  margin-top: 120px;
}

table {
  margin-top: 10%;
}

table th {
  text-align: center;
  border: 1px solid lightgrey;
}

table td {
  font-weight: bold;
  border: 1px solid lightgrey;
  text-align: center;
}

.select-month {
  margin-top: 40px;
  margin-bottom: 30px;
}

.input-hour {
  margin-top: 80px;
  margin-bottom: 30px;
}

.btn {
  margin-top: 50px;
}






