body {
  font-family: 'Roboto', sans-serif;
  padding: 2%;
}

.title {
  text-align: center;
}

table {
  margin-top: 10%;
}

table th {
  text-align: center;
  border: 1px solid lightgrey;
}

table td {
  font-weight: bold;
  border: 1px solid lightgrey;
  text-align: center;
}








